h1, h2, h3, h4, h5, h6, strong, b {
	font-family: 'Open Sans', sans-serif !important;
	margin-bottom: 20px;
}

h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #BA2BCE; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

p.lead { text-align: center; color: #727878; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }

.jumbotron .container h1 {
	font-size: 4em;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 2px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
	display: inline-block;
}

.jumbotron .container > * {
    text-align: center;
    color: #FFFFFF;
}

.jumbotron .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron p {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300;
}

.jumbotron {
    position: relative;
    background: url(images/bg.jpg);
    background-size: cover;
}

html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }

.image {
    width:100vw;
    height: 100vh;
	border-radius: 0px;
    background: no-repeat center right fixed url('images/bg.jpg');
    background-size: cover;
}

#content {
  height: 4000px;
}

